<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACwxjcn8ok8Ueu0Kaeqc9CmXdJbuCvAnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>338457827290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eatSneakers.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>eat-sneakers-e8166</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-sneakers-e8166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338457827290:ios:a09e29ba63820fa05292e3</string>
</dict>
</plist>